<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>tel</th>'
        <th>性别</th>
        <th>运营商</th>
    </tr>
    <tr th:each="list:${list}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.age}"></td>
        <td th:text="${list.tel}"></td>
        <td th:text="${list.sex ==1}?'男':'女'"></td>
        <td th:switch=${#strings.substring(list.tel,0,3)}>
        <span th:case="133">中国电信</span>
        <span th:case="135">中国移动</span>
    </td>
    </tr>
</table>
<p>
    <span th:text="${num1 + num2}"></span>
    <span th:text="${num1 - num2}"></span>
    <span th:text="${num1 * num2}"></span>
    <span th:text="${num1 / num2}"></span>
</p>
<p>
    <span th:text="${num1} + ${num2}"></span>
    <span th:text="${num1} - ${num2}"></span>
    <span th:text="${num1} * ${num2}"></span>
    <span th:text="${num1} / ${num2}"></span>
</p>


</body>
</html>