<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="include/bootstrap :: head">

    </th:block>
</head>
<body>
    <div th:replace="include/bootstrap :: nav"></div>
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1 th:text="#{student}"></h1>
            <div style="margin-bottom: 5px;">
              <a th:href="@{/student/create}"> 新增</a>
            </div>
           <table class="table">
               <tr>
                   <th th:text="#{id}"></th>
                   <th th:text="#{StudentID}"></th>
                   <th th:text="#{classname}"></th>
                   <th th:text="#{studentname}"></th>
                   <th th:text="#{address}"></th>
                   <th th:text="#{mobile}"></th>
                   <th th:text="#{operation}"></th>
               </tr>
               <tr th:each="student : ${list}">
                   <td th:text="${student.id}"></td>
                   <td th:text="${student.studentId}"></td>
                   <td th:text="${student.className}"></td>
                   <td th:text="${student.name}"></td>
                   <td th:text="${student.address}"></td>
                   <td th:text="${student.mobile}"></td>
                   <td >
                       <a th:href="@{/student/edit(id=${student.id},name=${student.name})}" class="glyphicon glyphicon-pencil">
                       </a>
                       <a  onclick="return confirm('将要删除数据，是否继续？');" th:href="@{/student/delete (id=${student.id})}"class="glyphicon glyphicon-remove">

                       </a>
                   </td>
               </tr>
           </table>
            <p>
                <a th:href="@{/(lang=en_US)}"
                   style="border: #2e6da4 1px;background-color: #2e6da4;border-radius: 2px;color: #fff;">英</a>
                <a th:href="@{/(lang=zh_CN)}"
                   style="border: #2e6da4 1px;background-color: #2e6da4;border-radius: 2px;color: #fff;">中</a>
            </p>

                    <input type="button" value="英文" class="btn btn-red" th:onclick="window.location.href='@{/(lang=en_US)}'"/>
                    <input type="button" value="英文" class="btn btn-red" th:onclick="window.location.href='@{/(lang=zh_CN)}'"/>


        </div>

    </div> <!-- /container -->
</body>
</html>